body {
    display: flex;
}

.p1 {
    padding-inline: 1rem;
}
.side {
    min-width: 18rem;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 0px 10px 0px rgba(180,180,180, 1)
}
.top {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    
}
.logo-container {
    padding-block: 1.5rem;
    width: 100%;
}
.decklist > *:hover {
    background-color: rgb(235, 235, 235);
}

.item {
    display: flex;
    justify-content: space-between;
}
.item > div {
    margin-block: 1rem;
}
.item > div > * {
    display: inline-block;
    margin-right: 0.4rem;
}
.item-buttons {
    opacity: 0;
    pointer-evemts: none;
}
.item-buttons > * {
    position: relative;
    z-index: 1;
}
.item-buttons > *:not(:last-child) {
    margin-right: 0.8rem;
}
.decklist > *:hover .item-buttons {
    opacity: 1;
    pointer-events: auto;
}
.item-button:hover :after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(220,220,220,5);
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


main {
    position: relative;
    top: -100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main > * {
    position: relative;
    left: -5%;
}
.timer-container > * {
    display: inline-block;
}